version: '3.3'

# Use this to skip the build step and import from local biocypher-out directory
# Usage: docker compose -f docker-compose-local.yml up

services:

  import:
    image: neo4j:5.26.19-enterprise
    container_name: import
    environment:
      NEO4J_AUTH: none
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      FILL_DB_ON_STARTUP: "yes"
    volumes:
      # Give -R 777 for this path
      - /GenSIvePFS/users/clzeng/docker_data:/data:rw
      - ./scripts/import_local.sh:/scripts/import_local.sh
      - ./biocypher-out:/biocypher-out:ro
      # Mount the full path so import scripts work
      - /GenSIvePFS/users/clzeng/workspace/CROssBARv2-KG/biocypher-out:/GenSIvePFS/users/clzeng/workspace/CROssBARv2-KG/biocypher-out:ro
    command:
      - /bin/bash
      - /scripts/import_local.sh

  deploy:
    image: neo4j:5.26.19-enterprise
    container_name: deploy
    volumes:
      - /GenSIvePFS/users/clzeng/docker_data:/data:rw
    environment:
      NEO4J_dbms_security_auth__enabled: "false"
      NEO4J_dbms_databases_default__to__read__only: "false"
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
    ports:
      - "127.0.0.1:7474:7474"
      - "7687:7687"
    depends_on:
      import:
        condition: service_completed_successfully
